# why python !

![image](https://theyuvas.com/wp-content/uploads/2020/10/Why-learn-Python-Programming-language.jpg)

- Easy to learn
- Free and open source
- interpreted language
- Used in many domains : Web development - Data Science and Machine Learning - Scripting and Automation - Visualization
- contains many libraries and packages that make code simple
- OOP concept (class - object)

# Open-source

![image](https://miro.medium.com/v2/resize:fit:2760/0*69xnukVJ2bymu2Bx.png)

 the source code  is publicly available.

 This means anyone can:

1- View the code to understand how it works.

2- Modify the code to fix bugs, add features, or adapt it for their own purposes.

# Python used for
![image](https://www.afternerd.com/blog/wp-content/uploads/2020/05/python-used-for.png)
1- Artifical intelligence (Machine Learning - Deep learning - NLP ...)

2- Web Development (Flask - Django )

3- Games (pyGame)

4- Web Scraping

5- Hacking

# IDE (text editor)

1- Google colab

2- vs code

3- Pycharm

4- Kaagle

5- Jupiter Notebook

# Interpreter vs Compiler
![image](https://goglobalways.com/wp-content/uploads/2023/05/Compiler-vs-Interpreter.png)
## Interpreter
- Execution: Translates and executes code line by line

## Compiler

- Execution: Translates the entire program into machine code before execution.

# Let's start coding

## print statement

In [ ]:
# print message using print statement
print("Hello, World! " )

Hello, World!

In [ ]:
# print multiple messages using print statement in one line
print("Hello World!" , "Do you know me " , "How are you " , sep = " ")

Hello World! Do you know me  How are you

In [ ]:
# print multiple messages using print statement in one line (Specific Seperator)
print("Hello World!" , "Do you know me " , "How are you "  , sep=" |=======| ")

Hello World! |=======| Do you know me  |=======| How are you

In [1]:
# print multiple messages using print statement in multiple lines
print("Hello World!")
print( "Do you know me ")
print("How are you ")

Hello World!
Do you know me
How are you

In [ ]:
# print multiple messages using print statement in multiple lines (\n new line )
print("Hello World!",'\n',"Do you know me " ,'\n', "How are you ")

Hello World!
 Do you know me
 How are you

*Note* : each print statement end with   (end = '\n' )

In [ ]:
print("Hello World!" , end = ' ')
print( "Do you know me ")
print("How are you ")

Hello World! Do you know me
How are you

In [ ]:
# Using simicolon to seperate multiple code in one line
print("Hello") ; print("Hi")

Hello
Hi

In [ ]:
# Try itself => use two print statment

# Output: Loading... Done

# Comments in Python

## 1. Single-Line Comments

In [ ]:
# This is a single-line comment
# Assigning 10 to variable x
x = 10
# print the value of x
print(x)

10

## 2- Multi-Line Comments (Docstrings)

In [ ]:
'''
This is a multi-line comment
using triple quotes.
It spans multiple lines.
'''
print("Hello, World!")

Hello, World!

In [ ]:
s= '''
This is a multi-line comment
using triple quotes.
It spans multiple lines.
'''

type(s)

str

# Variables and data types

## Numeric Data Types
### 1-  Integer (int)

In [ ]:
a = 10       # Positive integer
b = -5       # Negative integer
print(a , b)

10 -5

In [ ]:
# get datatype
print(type(a) , type(b))

<class 'int'> <class 'int'>

2- Floating-Point (float)

In [ ]:
pi = 3.14    # Float
e = -2.718   # Negative float
print(pi , e)

3.14 -2.718

In [ ]:
# get data type
print(type(pi) , type(e))

<class 'float'> <class 'float'>

3-  Complex Numbers

In [ ]:
# Complex Numbers represt (imaginary number + number(int - float))
z = 3 + 4j
print(z.real)  # Output: 3.0
print(z.imag)  # Output: 4.0

3.0
4.0

In [ ]:
# Can convert int into float , complex

print(float(22))
print(complex (22)) // 22 + 0j
print("#"*30)

# Can convert float into int , complex
print(int(99.6))
print(complex(99.6))
print("#"*30)


# Can't conver complex into int , float
print(int(33+3j))
print(float(33+66j))

22.0
(22+0j)
##############################
99
(99.6+0j)
##############################

### Try Itself

🧪 Use Case: Grocery Store Billing System


🎯 Goal:
Calculate the total cost of items a customer buys in a grocery store.

🛠️ Python Concepts Used:
Variables (to store item name , price and quantities)

Data types:

int and float for prices and quantities

str for item names

Discount => 10 %

# Solution

In [6]:
# Item details
item_name = "Apples"            # str
price_per_kg = 3.5              # float (dollars per kg)
quantity_kg = 2                 # int (kilograms)

# Calculation
total_cost = price_per_kg * quantity_kg  # float
discount_applicable = True               # bool

# Apply discount if applicable
if discount_applicable:
    discount = 0.1  # 10% discount
    total_cost = total_cost * (1 - discount)

# Output the bill
print("Item:", item_name)
print("Quantity (kg):", quantity_kg)
print("Price per kg: $", price_per_kg)
print("Total Cost: $", round(total_cost, 2))

Item: Apples
Quantity (kg): 2
Price per kg: $ 3.5
Total Cost: $ 6.3

# Sequence Data Types

1- String (str)

In [ ]:
name = "Mostafa"
quote = 'Python is great!'
multiline = """This is
a multiline string."""
print ( name , quote , multiline )

Mostafa Python is great! This is
a multiline string.

In [ ]:
type(name)

str

# Other sequence Data Types
#### List - Tuple - Dictionary - Set

#  Boolean Type

In [ ]:
is_active = True
is_admin = False
print(is_active ,' , ' ,  is_admin )

True  ,  False

In [ ]:
print(5 > 3)   # True
print(5 == 3)  # False

True
False

#  None Type

In [3]:
x = None
x =6
type(x)

int

In [ ]:
# Example
name = "Ali"
age = 30
height = 177.8
is_male = True

print( " Name : " , name ,"\n" , "Age : " , age ,"\n" , "Height : " , height ,"\n" ,  "Is_Male : ", is_male)

 Name :  Ali
 Age :  30
 Height :  177.8
 Is_Male :  True

# Rules with Variable

1- Don't start with number

2- Don't start with symbol(special character) (expect (_))

3- No space

4- Can't used reserved words

5- python case sensitive

In [ ]:
# Don't start with number
2age = 20
print(2age)

In [ ]:
#  Don't start with symbol(special character) (expect (_))
$age = 30
print(age)

In [ ]:
_age = 30
print(_age)

30

In [ ]:
# No space
first name = "Ali"

In [ ]:
first_name = "Ali"  # firstNameName2 = "Ali"
print(first_name)

Ali

In [ ]:
# Can't used reserved words
if = 22
print(if)

## Reserved words :
and -
as -
assert -
async -
await -
break -
class -
continue -
def -
del -
elif -
else -
except -
False -
finally -
for -
from -
global -
if -  
import -
in -
is -
lambda -
None -
nonlocal -
not  -
or -
pass -
raise -
return -
True -
try -
while -  
with -
yield

In [4]:
# python case sensitive
name = "ali"
print(Name)

NameError: name 'Name' is not defined

# Multiple Assignment

In [ ]:
x , y , z = 10 , 20 , 30
print( " X :"  , x ,"\n" , "Y :" ,  y ,"\n" , "Z :" ,  z)

 X : 10
 Y : 20
 Z : 30

# Assigning the Same Value
You can assign the same value to multiple variables:

In [2]:
x = y = z = 100
print(x, y, z)  # Output: 100 100 100

10 100 100

# Swapping Variables

In [ ]:
a, b = 10, 20
a, b = b, a
print(a, b)  # Output: 20 10

20 10

# Common Escape Sequence Characters

1- Newline and horizontal Tab

In [ ]:
print("Hello\nWorld")  # Newline
print("A\tB\tC")       # Tab

Hello
World
A	B	C

2- Escape quote

In [ ]:
print("He said, \"Python is awesome!\"")
print('It\'s a great day!')

He said, "Python is awesome!"
It's a great day!

In [ ]:
print(' Hello "Mostafa"   ')  # Hello "Mostafa"

3- Backslash

In [ ]:
print("This is a backslash: \\")

This is a backslash: \

In [ ]:
print("This is a backslash: \\")

This is a backslash: \

4- Back space

In [5]:
print("Hello \b world")

Hello  world

5- Carriage return

In [ ]:
print("111111 \r 33")

 33

In [3]:
x=5
y=6
print("x \r y")

 y

# String Concatination

In [ ]:
first_name = "Ali"
last_name="Ahmed"
full_name = first_name + last_name  # (str + str = str) => Concatination
print(full_name)

AliAhmed

In [ ]:
# Can't concat string with number
name = "ali"
age = 44
print(name+ age)
# Solution : Casting - f_string - format function

1- Casting

In [ ]:
print("Hello" + str(123))

Hello123

2- f-string

In [ ]:
print(f"my name is {name } and my age is {age}")

my name is ali and my age is 44

String Format

In [ ]:
print("my name is {} and my age is {}".format(name , age ))

my name is ali and my age is 44

In [ ]:
print("{} {}".format(name , age ))

ali 44

In [ ]:
print("{}".format(name , age ))

ali

In [ ]:
print("{}{}".format(name))

# Slicing in String

In [ ]:
s = "Space code"
print(s[0])
print(s[1])
print(s[1:4])
print(s[1:])
print(s[:5])
print(s[-1])
print(s[-4 : -1])
print(s[:])
print(s[::2])

S
p
pac
pace code
Space
e
cod
Space code
Saecd

# String Methods

1- len method => count the number of characters in string

In [ ]:
s = "space code academy"
print(len(s)) # count characters , spaces

18

2- strip method : remove spaces ( start , end )

In [ ]:
name = " Ali Essam "
print(name.strip())

# lstrip , rstrip
print(name.lstrip())
print(name.rstrip())

# we can remove symbols instead of spaces
name = "#*mostafa ali "
print(name.strip("#"))
print(name.lstrip("#"))
print(name.rstrip("#"))

# remove multiple symbols
name = "#*mostafa ali$&"
print(name.strip("#*$&"))
print(name.lstrip("#*$&"))
print(name.rstrip("#*$&"))

Ali Essam
Ali Essam
 Ali Essam
*mostafa ali
*mostafa ali
#*mostafa ali
mostafa ali
mostafa ali$&
#*mostafa ali

In [8]:
name = "#*mostafa % ali"
print(name.strip("i"))

#*mostafa % al

3 - title()=> make each word start with capital letter

In [ ]:
s = "code space academy"
print(s.title())

# capitalize make only tghe first letter is capital
print(s.capitalize())

Code Space Academy
Code space academy

upper () , lower() , swapcase()

In [ ]:
s = "code space academy"
# make all characters is capital
print(s.upper())
# make all characters is small
print(s.lower())

s= "ALI mostafa"
# swap between capital and small
print(s.swapcase())

CODE SPACE ACADEMY
code space academy
ali MOSTAFA

split() : convert string into array

In [ ]:
l = "I love python "
l.split() # by default split by space

['I', 'love', 'python']

In [ ]:
# change seperator
l="i-love-python"
l.split("-")

['i', 'love', 'python']

In [ ]:
# split( seperator , max_split)
sen = "l love python but hate c++ and java"
sen.split(" " , 4)

['l', 'love', 'python', 'but', 'hate c++ and java']

In [ ]:
# rsplit
sen = "i-love-python-php-and-java"
sen.rsplit("-" , 3)

['i-love-python', 'php', 'and', 'java']

count() : count the number of specific words or letters in sentences

In [ ]:
# count ( word(letter) , start , end )
l ="i love php , php is good language , php forever"
print(l.count("php"))
print(l.count("php" , 1 , 20))

3
2

Index() : get index of character

In [10]:
# index(character , start , end )
# index return index or error (if word or letter not in sentence )
l ="i love php , php is good language , php forever"
print(l.index("php"))
print(l.index("php" , 1 , 10))
print(l.index("php" , 1 , 5))

7
7

In [ ]:
# find method
# index return index or -1 (if word or letter not in sentence )
print(l.find("php"))
print(l.find("php" , 1 , 10))
print(l.find("php" , 1 , 5))

7
7
-1

startwith() / endwith() : return true or false

In [ ]:
l ="mostafa ahmed"
print(l.startswith("m"))
print(l.endswith("d"))
print(l.startswith("m" ,2 ,  7))
print(l.endswith("d" ,5 ,  13))

True
True
False
True

replace()

In [ ]:
n= "121212"
print(n.replace("1" , "one"))
print(n.replace("1" , "one" , 2))

one2one2one2
one2one212

join() : convert list into string

In [ ]:
my_list=["a" , "b" , "c"]
print("-".join(my_list))
type("-".join(my_list))

a-b-c

str

🧪 Use Case: Welcome Message Generator

🎯 Goal:
Generate a personalized welcome message for users registering on a website.

🛠️ Python Concepts Used:
Variables to store user information

String concatenation using +

F-strings as an alternative (modern and clean)

# Solution

In [7]:
first_name = "Mostafa"
last_name = "Amer"
welcome_message = "Welcome, " + first_name + " " + last_name + "!"
print(welcome_message)


first_name = "Mostafa"
last_name = "Amer"
welcome_message = f"Welcome, {first_name} {last_name}!"
print(welcome_message)

Welcome, Mostafa Amer!
Welcome, Mostafa Amer!

# Arithmatic operations

In [ ]:
# Addition
a = 10
b = 20
result = a + b
print("Addition : " ,  result)
print("*"*30)

# Subtraction
result = a - b
print("Subtraction: " , result)
print("*"*30)


# Multiplication
result = a * b
print("Multiplication : " , result)
print("*"*30)


# Division
result = a / b
print("Division : " , result)
print("*"*30)


# Floor Division
result = a // b # 7 / 2 = 3.5 -  7 // 2 = 3
print("Floor Division:" , result)
print("*"*30)

# Modulus
result = a % b
print("Modulus : " , result)
print("*"*30)

# Exponentiation
result = a ** b # pow(a , b)
print("Exponentiation :" , result)

Addition :  30
******************************
Subtraction:  -10
******************************
Multiplication :  200
******************************
Division :  0.5
******************************
Floor Division: 0
******************************
Modulus :  10
******************************
Exponentiation : 100000000000000000000

In [ ]:
# Abs
result = abs(-10)
print("Absolute : " ,result)
print("*"*30)

result = pow(3, 4)  # Equivalent to 3 ** 4
print("Power : " , result)  # Output: 81
print("*"*30)

result = round(22 / 7)
print("Round:" , result)
print("*"*30)

import math
result = math.sqrt(16)  # Square root
print("Sqrt : " , result)  # Output: 4.0

Absolute :  10
******************************
Power :  81
******************************
Round: 3
******************************
Sqrt :  4.0

In [12]:
result = pow(3, 4  , 10 ) #( base , power , modulas)
result

1

# Assignment operators

In [ ]:
# Addition Assignment (+=)  # x+=4  => x = x +4

x = 10
x += 5  # Equivalent to: x = x + 5
print("Addition Assignment:" , x)
print("*"*30)


# Subtraction Assignment (-=)

x = 20
x -= 3  # Equivalent to: x = x - 3
print("Subtraction Assignment : " , x)
print("*"*30)


# Multiplication Assignment (*=)

x = 5
x *= 4  # Equivalent to: x = x * 4
print("Multiplication Assignment : " , x)
print("*"*30)


# Division Assignment (/=)

x = 15
x /= 3  # Equivalent to: x = x / 3
print("Division Assignment : " , x)
print("*"*30)


# Floor Division Assignment (//=)

x = 17
x //= 4  # Equivalent to: x = x // 4
print("Floor Division Assignment : " , x)
print("*"*30)


# Modulus Assignment (%=)

x = 10
x %= 3  # Equivalent to: x = x % 3
print("Modulus Assignment : " , x)
print("*"*30)



# Exponentiation Assignment (**=)

x = 2
x **= 3  # Equivalent to: x = x ** 3
print("Exponentiation Assignment : " , x)

Addition Assignment: 15
******************************
Subtraction Assignment :  17
******************************
Multiplication Assignment :  20
******************************
Division Assignment :  5.0
******************************
Floor Division Assignment :  4
******************************
Modulus Assignment :  1
******************************
Exponentiation Assignment :  8

# Boolean Operator

In [ ]:
# AND

x = 10
y = 20
result = (x > 5) and (y < 30)
print("AND : " ,  result)  # Output: True
print("*"*30)


# OR
x = 10
y = 20
result = (x > 15) or (y < 30)
print("OR : " ,result)  # Output: True
print("*"*30)

# NOT
x = 10
result = not (x > 5)
print("NOT : " ,result)  # Output: False
print("*"*30)


# Combining Boolean Operators
x = 10
y = 5
z = 20

result = (x > y) and (z > x) or not (y > z)
print("Combining Boolean Operators : " , result)  # Output: True

AND :  True
******************************
OR :  True
******************************
NOT :  False
******************************
Combining Boolean Operators :  True

# Comparison Operators

In [ ]:
# Comparison Operators Examples
x = 10
y = 5
z = 10

# Equal to (==)
print("x == z:", x == z)
print("*"*30)

# Not equal to (!=)
print("x != y:", x != y)
print("*"*30)

# Greater than (>)
print("x > y:", x > y)
print("*"*30)

# Less than (<)
print("x < y:", x < y)
print("*"*30)

# Greater than or equal to (>=)
print("x >= z:", x >= z)
print("*"*30)

# Less than or equal to (<=)
print("x <= z:", x <= z)
print("*"*30)

# Chained comparisons
print("5 < x < 15:", 5 < x < 15)
print("x > y > 3:", x > y > 3)
print("*"*30)

# Comparison with different data types
print("10 == 10.0 :", 10 == 10.0)
print('"apple" < "banana" :', "apple" < "aanana")
print('"10" == 10 :', "10" == 10)

x == z: True
******************************
x != y: True
******************************
x > y: True
******************************
x < y: False
******************************
x >= z: True
******************************
x <= z: True
******************************
5 < x < 15: True
x > y > 3: True
******************************
10 == 10.0 : True
"apple" < "banana" : True
"10" == 10 : False

In [ ]:
# Big Error !!!
# Using = Instead of ==

if x = 10:
    print("This is wrong.")

# Membership Operator

- Using "in" and "not in" , Return True or False

In [ ]:
# Example with Strings

# 'in' operator
print('a' in 'apple')
print("=="*30)
print('z' in 'apple')
print("=="*30)


# 'not in' operator
print('z' not in 'apple')
print("=="*30)

print('a' not in 'apple')

True
============================================================
False
============================================================
True
============================================================
False

In [13]:
print(2 in 123)

TypeError: argument of type 'int' is not iterable

In [ ]:
# Example with list

my_list = [1, 2, 3, 4, 5]

# 'in' operator
print(3 in my_list)
print("=="*30)

print(6 in my_list)
print("=="*30)

# 'not in' operator
print(6 not in my_list)
print("=="*30)
print(3 not in my_list)

True
============================================================
False
============================================================
True
============================================================
False

In [ ]:
# String Search
sentence = "Python is fun!"
if 'Python' in sentence:
    print("Found 'Python'!")

Found 'Python'!

# List

- A list in Python is a built-in data structure that allows you to store multiple items in a single variable

- Depend on zero based index

- List is mutable قابله للتعديل

- Can contains different datatypes

- Elements not unique

- Represen by []

In [ ]:
# Elements are ordered
my_list = [1, 2, 3,4,5,6]
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Accessing elements in list (zero based index)
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[-1])

1
2
3
6

In [ ]:
# Slicing in list
# [start : end : step]
print(my_list[1 : :2])
print(my_list[-1 : -6 : -2])

[2, 4, 6]
[6, 4, 2]

In [ ]:
# list is Mutable
my_list = [1, 2, 3, 4, 5, 6 , 10 , 20 ,30 ,40 , 50]
my_list[1] = 99 # update inside list
print(my_list)
print("=="*30)


my_list[2:4]= [0 , 0 ,0 ,0]
print(my_list)
print("=="*30)


my_list[-1]="F"
print(my_list)
print("=="*30)


# Out of range
print(my_list[20])
print("Out Of Range ")

[1, 99, 3, 4, 5, 6, 10, 20, 30, 40, 50]
============================================================
[1, 99, 0, 0, 0, 0, 5, 6, 10, 20, 30, 40, 50]
============================================================
[1, 99, 0, 0, 0, 0, 5, 6, 10, 20, 30, 40, 'F']
============================================================
Out Of Range

# List Methods

In [ ]:
# Append Method
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
my_list.append([10 , 20 , 30])
print(my_list)

[1, 2, 3, 4, [10, 20, 30]]

In [ ]:
# Extend methods
my_list.extend([10 , 20 , 30])
print(my_list)

[1, 2, 3, 4, [10, 20, 30], 10, 20, 30]

In [ ]:
# insert method
my_list.insert(0, 200)
print(my_list)

[200, 200, 1, 2, 3, 4, [10, 20, 30], 10, 20, 30]

In [ ]:
# Remove function
my_list.remove(2)
print(my_list)

[200, 200, 1, 3, 4, [10, 20, 30], 10, 20, 30]

In [ ]:
# del function
del(my_list[0])

In [ ]:
my_list

[200, 1, 3, 4, [10, 20, 30], 10, 20, 30]

In [ ]:
# sort method() => sort ascending
lst = [20 , 100 , 0 , 17 , 44]
lst.sort()
print(lst)

[0, 17, 20, 44, 100]

In [ ]:
# sort descending
lst = [20 , 100 , 0 , 17 , 44]
lst.sort(reverse=True)
print(lst)

[100, 44, 20, 17, 0]

In [ ]:
# Reverse list
# sort descending
lst = [20 , 100 , 0 , 17 , 44]
lst.reverse()
print(lst)

[44, 17, 0, 100, 20]

In [ ]:
# sort()= >list must contains the same datatypes
lst = [20 , 100 , 'a' , 17 , 'f']
lst.sort()
print(lst)
#        ================   Error ================

In [ ]:
# index => used to return index of element
my_list = [1, 2, 3, 2]
print(my_list.index(2))

1

In [ ]:
# Count
my_list = [1, 2, 2, 3]
print(my_list.count(2))

2

In [ ]:
# Shallow Copy
my_list = [1, 2, 3]
new_list = my_list.copy()
my_list.append(66)
print("Original List : " , my_list)
print("New List      : "  , new_list)

Original List :  [1, 2, 3, 66]
New List      :  [1, 2, 3]

In [15]:
# try itself ....
# ******************************** Convert previous example into Deep copy ************************************
# Shallow Copy
my_list = [1, 2, 3]
new_list = my_list
my_list.append(66)
print("Original List : " , my_list)
print("New List      : "  , new_list)

Original List :  [1, 2, 3, 66]
New List      :  [1, 2, 3, 66]

In [ ]:
# len : Returns the number of elements in the list.
my_list = [1, 2, 3]
print(len(my_list))

3

In [ ]:
# Max , Min , Sum , Len
my_list = [1, 2, 3]
print(max(my_list))
print(min(my_list))
print(sum(my_list))

3
1
6

In [16]:
# write code to get average !!

l =[10 , 20 , 30 , 40 ]


print(sum(l)  / len(l))

25.0

In [ ]:
# clear() : Removes all elements from the list.
my_list = [1, 2, 3]
my_list.clear()
print(my_list)

[]

📋 Use Case: To-Do List App

🎯 Goal:
Manage a list of tasks (add, view, remove tasks) using Python lists.

🛠️ Concepts Covered:
List creation

Accessing elements by index

Appending items

Removing items

Looping through lists

# Solution

In [8]:
# Initial to-do list
todo_list = ["Buy groceries", "Finish homework", "Call mom"]

# Add a new task
todo_list.append("Walk the dog")

# Remove a completed task
todo_list.remove("Finish homework")

# Show all tasks
print("My To-Do List:")
for task in todo_list:
    print("- " + task)

# Access a specific task
print("\nNext task to do:", todo_list[0])

My To-Do List:
- Buy groceries
- Call mom
- Walk the dog

Next task to do: Buy groceries

# Tuple

- A typle in Python is a built-in data structure that allows you to store multiple items in a single variable

- Depend on zero based index

- Tuple is immutable غير قابله للتعديل

- Can contains different datatypes

- Elements not unique

- Represen by ()

In [ ]:
t = (1,2,3,4,5,6)
# print tuple
print(t)
print("="*30)

# access element in tuple
print(t[1])
print("="*30)

# slicing
print(t[0:3])
print("="*30)

(1, 2, 3, 4, 5, 6)
==============================
2
==============================
(1, 2, 3)
==============================

In [8]:
t=(22.5 , )
type(t)

float

In [ ]:
# Notes
t1 = (1)
t2 = (1,)
t3=1
t4=1,
print(type(t1) , type(t2) , type(t3) , type(t4))

<class 'int'> <class 'tuple'> <class 'int'> <class 'tuple'>

tuple methods
count() - index() - len() - max() - min() - sum() - sorted()

In [15]:
x , y , z = 10 , 20 , 30

# unpacking tuples
my_tuple = (10, 20, 30 )
a, b, _  = my_tuple
print(a, b)

10 20

In [16]:
print(_)

30

In [ ]:
my_tuple = (10, 20, 30)
a,_, c = my_tuple
print(a, c)

10 30

In [ ]:
# Nested tuple
nested_tuple = (1, (2, 3), (4, 5)) # t[2][1]
print(nested_tuple[1])
print(nested_tuple[1][0])

(2, 3)
2

In [ ]:
# Tuple concatination
a =(1,2,3)
b=(10,20,30)
c = a+b
print(c)

# Numpy => support element wise operation

# list , tuple ... =>Doesn't support element wise operation

(1, 2, 3, 10, 20, 30, 'F', 'G')

In [ ]:
# Repeat
t=(10,20,30)
print(t*3)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [19]:
our_tuple= (1,2,3,4,5,6,7)
conter  = 0
for i in our_tuple:
    if i % 2 == 0:
        conter +=1
print("Sum of even numbers =", conter)

Sum of even numbers = 3

In [5]:
t = (11, 6, 11, 14, 0, 14)
repeated = t * 3

odd_count = 0
even_count = 0

# Loop through the repeated tuple
for num in repeated:
    # Count odd and even
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1


# Print results
print("Repeated Tuple:", repeated)
print(f"Odd numbers: {odd_count}, Even numbers: {even_count}")

Repeated Tuple: (11, 6, 11, 14, 0, 14, 11, 6, 11, 14, 0, 14, 11, 6, 11, 14, 0, 14)
Odd numbers: 6, Even numbers: 12

In [6]:

counted = []

print("Tuple:", t)
print("Number Occurrences:")

for num in repeated:
    if num not in counted:
        print(f"{num}: {repeated.count(num)} times")
        counted.append(num)

Tuple: (11, 6, 11, 14, 0, 14)
Number Occurrences:
11: 6 times
6: 3 times
14: 6 times
0: 3 times

In [2]:
counted

[4, 7, 2, 9, 1]

# Dictionary

- Consist of key , value

- No zero based index

- key is immutable , value is any datatype

- represt by {}

In [ ]:
# create dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
# access element by key
print(my_dict["name"])

Alice

In [ ]:
# Adding/Updating Items

# Update
my_dict["name"] ="Ali"
print(my_dict)

# Adding
my_dict["salary"] =2000
print(my_dict)

{'name': 'Ali', 'age': 25, 'city': 'New York'}
{'name': 'Ali', 'age': 25, 'city': 'New York', 'salary': 2000}

In [ ]:
# overwrite
my_dict = {"name": "Alice", "age": 25, "name": "Ali"}
print(my_dict)


x = 2
x =9

{'name': 'Ali', 'age': 25}

In [ ]:
# methods in dictionary
my_dict = {"name": "Alice", "age": 25, "salary": 2000}
# pop
age = my_dict.pop("age")
print(age)
print(my_dict)

25
{'name': 'Alice', 'salary': 2000}

In [ ]:
# del
del my_dict["name"]
print(my_dict)

{'salary': 2000}

In [8]:
# update
my_dict = {"name": "Alice", "age": 25, "salary": 2000}
my_dict.update({"name":"Ali"})

In [22]:
# popitems() => remove last element added to list (not updates in list)
my_dict = {"name": "Alice", "age": 25, "salary": 2000}
my_dict['height'] = 88

my_dict.popitem()

('height', 88)

In [23]:
my_dict

{'name': 'Alice', 'age': 25, 'salary': 2000}

In [24]:
# get keys , values , items
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'age', 'salary'])
dict_values(['Alice', 25, 2000])
dict_items([('name', 'Alice'), ('age', 25), ('salary', 2000)])

In [25]:
print(type(my_dict.items()))

<class 'dict_items'>

In [ ]:
# copy , clarr method
new_dic = my_dict.copy()
my_dict.clear()
print("Original Dictionaty : " , my_dict)
print("New Dictionaty : " , new_dic)

Original Dictionaty :  {}
New Dictionaty :  {'name': 'Alice', 'age': 25, 'salary': 2000}

# Set

- A set in Python is a built-in data structure that allows you to store multiple items in a single variable

- No zero based index

- Elements not ordered

- Elements must be  immutable (string - number - tuple)

- Can contains different datatypes

- Elements must be  unique

- Represen by {}

In [ ]:
s= {1 , 5 , "a" , "b" , "c"}
# Elements not ordered
print(s)

{'a', 1, 'c', 5, 'b'}

In [ ]:
# Elements must be immutable
s={1,2 , "Ali" , (1,2,3)}
print(s)

{1, 2, (1, 2, 3), 'Ali'}

In [ ]:
s={1,2 , "Ali" , [1,2,3]} # list , Dic , set
# ============================== TypeError: unhashable type: 'list' =====================

In [18]:
# methods in set

# union (|)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2)) # set1 | set2

{1, 2, 3, 4, 5}

In [ ]:
# intersection (&)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.intersection(set2))

{3}

In [ ]:
# difference (-)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.difference(set2))

{1, 2}

In [ ]:
# symmetric_difference() or ^
# Returns a new set containing elements not common to both sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.symmetric_difference(set2))

{1, 2, 4, 5}

In [ ]:
# a. issubset()
set1 = {1, 2}
set2 = {1, 2, 3}
print(set1.issubset(set2))

True

In [ ]:
set1 = {1, 6}
set2 = {1, 2, 3}
print(set1.issubset(set2))

False

In [ ]:
# issuperset()
set1 = {1, 2, 3}
set2 = {1, 2}
print(set1.issuperset(set2))

True

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2 , 8}
print(set1.issuperset(set2))

False

In [ ]:
# isdisjoint() : Checks if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5}
print(set1.isdisjoint(set2))

True

In [ ]:
set1 = {1, 2, 3,5}
set2 = {4, 5}
print(set1.isdisjoint(set2))

False

In [ ]:
# Add to set
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [26]:
# Remove
my_set = {1, 2, 3 }
my_set.remove(2)
print(my_set)

{1, 3}

In [ ]:
my_set = {1, 2, 3}
my_set.remove(6)
print(my_set)
# ================================= KeyError: 6 ===========================

In [ ]:
my_set = {1, 2, 3}
my_set.discard(6)
print(my_set)
# ================================= No Error =========================

{1, 2, 3}

In [7]:
# pop : remove random number

my_set = {1, 2, 3}
print(my_set)
print(my_set.pop())
print(my_set)

{1, 2, 3}
1
{2, 3}

In [ ]:
# clear : clear sets
my_set = {1, 2, 3}
my_set.clear()
print(my_set)

set()

# Boolean

- bool built in function used to check statement and return True or False

- return false if statment is (false - 0 -null)

In [ ]:
# return false
print(bool(""))
print(bool(0))
print(bool([]))
print(bool(False))
print(bool(2 < 1))


print("="*20,"*"*20, "="*20)
# return true
print(bool(" "))
print(bool(10))
print(bool([1 ,2 , 3]))
print(bool(True))
print(bool(2 > 1))

False
False
False
False
False
==================== ******************** ====================
True
True
True
True
True

# Type Conversion

In [ ]:
# Integer to Float
x = 10  # Integer
y = float(x)
print(y)       # Output: 10.0
print(type(y))

10.0
<class 'float'>

In [ ]:
# Float to Integer
x = 10.7
y = int(x)
print(y)
print(type(y))

10
<class 'int'>

In [19]:
# String to Integer
x = "123"
y = int(x)  # Convert to integer
print(y)
print(type(y))

f = float(x)  # Convert to integer
print(f)
print(type(f))


# =================================

# string to float
x = "123.6"
y = int(x)  # Convert to integer
print(y)
print(type(y))

# ========  ValueError: invalid literal for int() with base 10: '123.6'  =====================

123
<class 'int'>
123.0
<class 'float'>

In [ ]:
# Integer to string
x = 123  # Integer
y = str(x)  # Convert to string
print(y)
print(type(y))


# =============================

# Float to string
x = 123.7  # Float
y = str(x)  # Convert to string
print(y)
print(type(y))

123
<class 'str'>
123.7
<class 'str'>

In [ ]:
# List to set

x = [1, 2, 3, 3]  # List
y = set(x)  # Convert to set (removes duplicates)
print(y)
print(type(y))

{1, 2, 3}
<class 'set'>

In [ ]:
# String to list

x = "hello"  # String
y = list(x)  # Convert to list
print(y)
print(type(y))

['h', 'e', 'l', 'l', 'o']
<class 'list'>

In [ ]:
# bool
# convert to bool

print(bool(0))
print(bool(1))
print(bool([]))
print(bool([1, 2]))

False
True
False
True

🎯 Use Case: Representing Coordinates

get distance between two points using tuple

In [20]:
# Representing coordinates with tuples
point1 = (4, 5)
point2 = (7, 9)
result = ((point1[0] - point2[0])**2 + (point1[1] - point2[1])**2) ** 0.5
print(result)

5.0

# Chain Rule

In [ ]:
"mostafa ahmed".upper().title().swapcase() # MOSTAFA AHMED => Mostafa Ahmed => mOSTAFA aAHMED

'mOSTAFA aHMED'

# Input User

In [8]:
# Asking for the user's name
name = input("What is your name? ")

# Displaying the input
print("Hello, " + name + "!")

What is your name? Ali
Hello, Ali!

In [ ]:
age = input("Enter your age: ") # "20" * 3 => Repeat
print (age * 3)

In [ ]:
# Asking for a number
age = int(input("Enter your age: "))

# Displaying the input
print("You are", age, "years old.")

Enter your age: 44
You are 44 years old.

In [28]:
s = "mostafa ahmed"
s.split()

['mostafa', 'ahmed']

In [29]:
# Taking multiple inputs in a single line
x, y, z = input("Enter three numbers separated by space: ").split()

# Converting to integers
x, y, z = int(x), int(y), int(z)

# Displaying the input
print("You entered:", x, y, z)

Enter three numbers separated by space: 10 20 30
You entered: 10 20 30

In [31]:
import math
print("Choose an option:")
print("1. Calculate the area of a rectangle")
print("2. Calculate the area of a circle")

# Get the user's choice
choice = input("Enter 1 or 2: ")

if choice == "1":
    # Rectangle area calculation
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the width of the rectangle: "))
    area = length * width
    print(f"The area of the rectangle is: {area:.2f}")

elif choice == "2":
    # Circle area calculation
    radius = float(input("Enter the radius of the circle: "))
    area = math.pi * radius**2
    print(f"The area of the circle is: {area:.2f}")

else:
    print("Invalid choice. Please enter 1 or 2.")

Choose an option:
1. Calculate the area of a rectangle
2. Calculate the area of a circle
Enter 1 or 2: 5
Invalid choice. Please enter 1 or 2.

# Try to get !!!

Enter your name: Mostafa

Enter your age: 25

Enter your email: mostafa@example.com



Output =>>>


Welcome, Mostafa!

Your age is 25 and your email is mostafa@example.com.

# if statement

Conditional statements allow you to execute certain blocks of code based on whether a condition is True or False. Python provides several ways to handle conditions using the if, elif, and else statements.

Basic Syntax:

In [ ]:
'''
if condition:
    # Code block executed if the condition is True
elif another_condition:
    # Code block executed if the previous condition is False and this one is True
else:
    # Code block executed if all previous conditions are False
'''

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

In [ ]:
x = 3

if x > 5:
    print("x is greater than 5")

else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [32]:
x = 15

if x < 10:
    print("x is less than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is greater than 10")

In [ ]:
# Nested if
x = 20

if x > 10:
    if x % 2 == 0:
        print("x is greater than 10 and even")
    else:
        print("x is greater than 10 and odd")

x is greater than 10 and even

In [ ]:
# Ternary operator
x = 10
message = "x is even" if x % 2 == 0 else "x is odd"
print(message)

x is even

In [ ]:
# Ternary operator with Nested if
x = 15

# Using ternary if with elif for multiple conditions
result = "small" if x < 10 else "medium" if x < 20 else "large"

print(f"x is {result}")

x is medium

⚖️ Use Case: Age Checker for Movie Access

🎯 Goal:
Check if a user is old enough to watch an age-restricted movie.


🛠️ Concepts Covered:
if, elif, and else statements

Comparison operators (>=, <)

User input and type conversion

# For Loop

The for loop in Python is used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code repeatedly for each item in the sequence.

In [ ]:
'''
==================== basic syntax ======================

for variable in sequence:
    # Code to execute for each item in the sequence


'''

In [ ]:
fruits = ["apple", "banana", "cherry"]

# Loop through the list
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [33]:
word = "hello"

# Loop through the string
for letter in word:
    print(letter , end =' ') # h e l l o

h e l l o

In [ ]:
# Looping through a range of numbers (0 to 4)
for i in range(5):# range ( start , end , step )
    print(i)

0
1
2
3
4

In [35]:
# Looping through a range with start, stop, and step
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [ ]:
# Nested for loop
# Nested loop
for i in range(3): # 0 , 1 , 2
    for j in range(2): # 0 , 1
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

In [38]:
# for loop with else
for i in range(3):
    print(i)
else:
    print("Loop finished!")

0
1
2
Loop finished!

In [ ]:
# for loop with if condition
numbers = [10, 15, 20, 25, 30]

# Loop through the list
for num in numbers:
    if num % 2 != 0:
        print(num)

15
25

In [ ]:
numbers = [5, 12, 3, 18, 7, 20]

count = 0
# Loop through the list
for num in numbers:
    if num > 10:
        count += 1

print("Numbers greater than 10:", count)

Numbers greater than 10: 3

In [ ]:
numbers = [1, 5, 10, 15, 20, 25]

# Create a new list with numbers greater than 10
filtered_numbers = []
for num in numbers:
    if num > 10:
        filtered_numbers.append(num)

print(filtered_numbers)

[15, 20, 25]

Break :  Terminates the loop immediately and exits.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# Stop the loop when the number is 4
for num in numbers:
    if num == 4:
        break
    print(num)

1
2
3

Continue : Skips the current iteration and continues with the next iteration of the loop.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Print only odd numbers
for num in numbers:
    if num % 2 == 0:
        continue  # Skip even numbers
    print(num)

1
3
5
7
9

Pass : placeholder that does nothing

In [ ]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:
        pass  # Do nothing when the number is 3
    else:
        print(num)

1
2
4
5

In [40]:
for i in range(10):
  pass

# While Loop

In Python, a while loop is a control flow statement that repeatedly executes a block of code as long as a given condition is true.

In [ ]:
'''
Basic Structure:

while condition:
    # Code to be executed repeatedly

'''
# Example  1 :
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

✅ Use Case: Continuous User Input Until Exit Command

allows the user to enter input continuously in a loop.
 It only breaks the loop when the user types "quit" — acting like an exit command.

In [ ]:
while True:
    user_input = input("Enter 'quit' to exit: ")
    if user_input == 'quit':
        break
    print("You entered:", user_input)

Enter 'quit' to exit: ddd
You entered: ddd
Enter 'quit' to exit: quit

In [4]:
l= [1,2,3,4,5,6,7]
l_even=[]
l_odd=[]
c_e=0
c_o=0
for i in l :
  if i % 2 ==0 :
    l_even.append(i)
    c_e+=1
  else :
    l_odd.append(i)
    c_o+=1

print(l_even , l_odd)
print(c_e , c_o)

[2, 4, 6] [1, 3, 5, 7]
3 4

# Functions

A function in Python is a block of reusable code that performs a specific task. Functions help organize and modularize code, making it easier to read, maintain, and debug. Python has a simple syntax for defining functions.

In [ ]:
# basic example
# Calling the function


def greet():
    print("Hello, World!")

greet()

Hello, World!

In [42]:
# Parametres vs arguments

# (a , b ) = (1 , 2 )

def add_numbers(a, b):
    result = a + b
    return result

# Calling the function with arguments
sum_result = add_numbers(5, 3 )
print(sum_result)

8

In [43]:
def greet(age , name="Ali"):
    print(f" my age is {age} , my name is  {name}!")

# Calling the function with and without an argument

greet(20 , "Mostafa")

# ======================================= Syntax error ===============================

 my age is 20 , my name is  Ali!

In [ ]:
# default value

def greet(age , name="Guest"):
    print(f" my age is {age} , my name is  {name}!")

# Calling the function with and without an argument
greet(30 , "Alice")
greet(20)

 my age is 30 , my name is  Alice!
 my age is 20 , my name is  Guest!

In [45]:
# Return multiple values

def calculate(a, b):
    sum_result = a + b
    diff_result = a - b
    return sum_result, diff_result

# Calling the function
sum_value, diff_value = calculate(10, 5)  # (15 , 5)

print(f"Sum: {sum_value}, Difference: {diff_value}")

Sum: 15, Difference: 5

In [46]:
type(calculate(10, 5))

tuple

In [48]:
# Packing
def sum_all(*args):
    total = sum(args)
    return total

# Calling the function with multiple arguments
result = sum_all(1, 2, 3, 4, 5)
print(result)

3

In [ ]:
def letters (*l):
  for i in l :
    print(i)
print("First Call")
letters('a' , 'b' , 'c' ,'d')
print("Second  Call")
letters('a' , 'b' )
print("Third Call")
letters()

First Call
a
b
c
d
Second  Call
a
b
Third Call

In [ ]:
# packing
def sum_all(*args):
    total = sum(args)
    return total

# Calling with unpacking
t=(1, 2, 3, 4, 5)
result = sum_all(*t) # unpacking
print(result)

15

In [ ]:
'''
Function scope

1- Global scope : outside block , access from any where

2- local scope  : inside block , can access only inside block

'''


x =1  # global variable
def info():
  print(x)
info()

print("#"* 30)

x =1  # global variable
def info():
  print(x)
print(x)
info()


print("#"* 30)

x =1  # global variable
def info():
  x=2 # local variable
  print(x)
print(x)
info()

1
##############################
1
1
##############################
1
2

In [ ]:
def info():
  y= 10
  print(y)
print(y)
info()

# ===================== Error why ??! ====================================

In [ ]:
# convert local to be global
x =1  # global variable
def info():
  global x
  x=2 # global  variable
  print(x)
print(x)
info()
print(x)

1
2
2

In [ ]:
# convert local to be global

def info():
  global x
  x=2 # global  variable
  print(x)
info()
print(x)

2
2

# Lambda function

Lambda functions are small anonymous functions defined using the lambda keyword. They are useful for short, throwaway functions.

In [ ]:
# lambda
add = lambda a, b: a + b
result = add(3, 4)
print(result)

7

In [ ]:
result = lambda text:text.upper()
print("Result is :" , result("hello"))

Result is : HELLO

# Recursion (Function Calling Itself)

A function can call itself. This is called recursion and is used to solve problems that can be broken down into smaller sub-problems.

In [ ]:
def factorial(n):  # ! 5 = 5 * 4 *3 *2 *1  = 120
    if n == 0:
        return 1
    else:
        return n * factorial(n-1) # 5 * 4 * 3 * 2 *1 *1

# Calling the function
result = factorial(5)
print("Result is : ", result)

Result is :  120

In [ ]:
def sum_numbers(n):
    # Base case: If n is 1, return 1
    if n == 1:
        return 1
    else:
        # Recursive case: sum current n + sum of numbers from 1 to n-1
        return n + sum_numbers(n-1)

# Calling the function
n = 5
result = sum_numbers(n)
print(f"The sum of numbers from 1 to {n} is :  {result}")

The sum of numbers from 1 to 5 is :  15

# Positional Arguments

A positional argument is an argument that is passed to a function or method based on its position in the argument list. In programming, the order in which the arguments are provided is critical, as each argument corresponds to a specific parameter defined in the function signature.

Positional arguments are the most basic and commonly used type of arguments in Python. They are assigned to function parameters based solely on their position in the function call.

In [50]:
def greet(name, age):
    print(f"Hello, my name is {name} and I am {age} years old.")

# Positional arguments
greet( 30  , "Ali")

Hello, my name is 30 and I am Ali years old.

In [ ]:
def greet(name, age):
    print(f"Hello, my name is {name} and I am {age} years old.")

# Positional arguments
greet(20 , "Alice")

# ================================= illogical error ===================================

Hello, my name is 20 and I am Alice years old.

# keyword argument

A keyword argument is an argument that is passed to a function or method by explicitly specifying the name of the parameter it corresponds to. This allows you to provide arguments in any order, enhancing code readability and flexibility.

In [22]:
def greet(name, age):
    print(f"Hello, my name is {name} and I am {age} years old.")

# Keyword arguments
greet(age=30, name="Alice")  # Order can be changed

Hello, my name is Alice and I am 30 years old.

In [ ]:
def book_ticket(name, seat , meal="Vegetarian"):
    print(f"Ticket booked for {name}: Seat - {seat}, Meal - {meal}.")


# Overriding default values
book_ticket( seat="Aisle", meal="Non-Vegetarian" , name ="Bob")

Ticket booked for Bob: Seat - Aisle, Meal - Non-Vegetarian.

# Positional keyword Arguments

In [2]:
def greet(name , age, city ):
    print(f"Hello, my name is {name}, I am {age} years old, and I live in {city}.")

# Calling the function
greet(  "Alice"  ,  age=30, city="New York")  # Correct usage

Hello, my name is Alice, I am 30 years old, and I live in New York.

# Positional Only Arguments

In [ ]:
def greet(name, age, /):
    print(f"Hello, my name is {name} and I am {age} years old.")

# Calling the function
greet("Alice", 30)  # Correct usage

# The following would raise an error:
# greet(name="Alice", age=30)  # TypeError: greet() got some positional-only arguments

Hello, my name is Alice and I am 30 years old.

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

3

# Keyword only Arguments

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

# Combine Positional-Only and Keyword-Only

In [26]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

# Built in functions

In [ ]:
# all () => return true or false

print("="*80 )
# =============================================All ====================================
print("="*20 , "All" ,"="*20 )
print(all([10 , 20 , 30]))
print(all([10 , 20 , 0]))
print(all([10 , 20 , ""]))
print(all([10 , 20 , " "]))

# =============================================Any ====================================
print("="*20 , "Any" ,"="*20 )
print(any([10 , 20 , 30]))
print(any([10 , " " , []]))
print(any([0 , "" , ""]))
print(any([[ ] , 0 , ""]))

# =============================================bin ====================================

print("="*20 , "bin" ,"="*20 )
print(bin(10))
print(bin(20))

# =============================================id ====================================

print("="*20 , "id" ,"="*20 )
x=3310
y=77
print(id(x))
print(id(y))

# =============================================sum ====================================

print("="*20 , "Sum" ,"="*20 )

print(sum([10,33,90]))
print(sum([-10 , 0 , 1]))

# =============================================sum ====================================

print("="*20 , "Round" ,"="*20 )
print(round(4.3))
print(round(5.5))
print(round(3.2))
print(round(-2.8))
print(round(4.321 , 2))
print(round(5.589 , 2))

# =============================================abs ====================================

print("="*20 , "Abs" ,"="*20 )

print(abs(-30))

# =============================================pow ====================================

print("="*20 , "pow" ,"="*20 )

print(pow(2 , 5))
print(pow(2 , 5 , 10))

# =============================================Min - Max  ====================================

print("="*20 , "Min - Max" ,"="*20 )

print(min([10,33,90]))
print(max([-10 , 0 , 1]))

print("="*80 )

================================================================================
==================== All ====================
True
False
False
True
==================== Any ====================
True
True
False
False
==================== bin ====================
0b1010
0b10100
==================== id ====================
136124569348656
136125889759856
==================== Sum ====================
133
-9
==================== Round ====================
4
6
3
-3
4.32
5.59
==================== Abs ====================
30
==================== pow ====================
32
2
==================== Min - Max ====================
10
1
================================================================================

In [ ]:
# Range method
'''
1- start (optional): The starting number of the sequence (inclusive). Defaults to 0 if not specified.
2- stop: The end of the sequence (exclusive). The sequence ends before reaching this value.
3- step (optional): The increment (or decrement) between numbers in the sequence. Defaults to 1.
'''

print(list(range(1, 6)))

print(list(range(1, 10, 2)))
print(list(range(10, 0, -2))) # Output: [10, 8, 6, 4, 2]

[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

# Map function

The map() function in Python applies a given function to all items in an iterable (like a list, tuple, or string) and returns a map object, which can be converted into a list, tuple, or other collection types.

In [ ]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4]
squared = map(square, numbers)
print(list(squared))  # Output: [1, 4, 9, 16]

<map object at 0x7bcdf8505060>
[1, 4, 9, 16]

In [ ]:
numbers = [1, 2, 3, 4]
squared = lambda x: x ** 2
result =map(squared ,numbers)
print(list(result))  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

# Filter method

The filter() function in Python is used to construct an iterator from elements of an iterable for which a specified function returns True. It filters out elements that do not satisfy the condition defined by the function.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

# Function to check if a number is even
def is_even(num):
    return num % 2 == 0

even_numbers = filter(is_even, numbers)
print(list(even_numbers))

[2, 4, 6]

In [ ]:
words = ["apple", "kiwi", "banana", "pear"]

# Function to filter words with more than 4 letters
long_words = filter(lambda word: len(word) > 4, words)
print(list(long_words))

['apple', 'banana']

# The reduce()

The reduce() function in Python is used to apply a specified function cumulatively to the items of an iterable, reducing the iterable to a single value. It is part of the functools module and must be imported before use.

In [ ]:
from functools import reduce
def sum(num1 , num2):
    return num1 + num2

result = reduce(sum , [10, 20 , 30 , 40])
print("Result of Summation : " , result)
print("*"*80)
# ==================================================================

def sub(num1 , num2):
    return num1 - num2

result = reduce(sub , [10, 20 , 30 , 40])
print("Result of Subtraction : " , result)
print("*"*80)

# ==================================================================


def mul(num1 , num2):
    return num1 * num2

result = reduce(mul , [1, 2 , 3 , 44])
print("Result of Multiplication : " , result)
print("*"*80)

# ==================================================================


def naming(name1 , name2):
    return name1 + name2

result = reduce(naming , ["Ali" , "Ahmed" , "Mostaf"])
print("Result of concatination : " , result)
print("*"*80)

Result of Summation :  100
********************************************************************************
Result of Subtraction :  -80
********************************************************************************
Result of Multiplication :  264
********************************************************************************
Result of concatination :  AliAhmedMostaf
********************************************************************************

# help method()

The help() method in Python is used to access the documentation and details about modules, classes, functions, keywords, and other objects. It is particularly useful for understanding the usage, arguments, and behavior of Python objects.😊

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
def greet(name):
    """Greets a person with their name."""
    print(f"Hello, {name}!")

help(greet)

Help on function greet in module __main__:

greet(name)
    Greets a person with their name.

In [ ]:
help(len)
help(abs)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

🔁 Use Case: Temperature Converter Function

🎯 Goal:
Create a function to convert temperature from Celsius to Fahrenheit and vice versa.


🛠️ Concepts Covered:
Defining functions using def

-  f = c * 9/5 + 32

In [9]:
# Convert Celsius to Fahrenheit
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Convert Fahrenheit to Celsius
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

# Example usage
c = float(input("Enter temperature in Celsius: "))
f = celsius_to_fahrenheit(c)
print(f"{c}°C is {round(f, 2)}°F")

f2 = float(input("\nEnter temperature in Fahrenheit: "))
c2 = fahrenheit_to_celsius(f2)
print(f"{f2}°F is {round(c2, 2)}°C")

Enter temperature in Celsius: 8
8.0°C is 46.4°F

Enter temperature in Fahrenheit: 3
3.0°F is -16.11°C

# Iterable vs iterator

- iterable : Any object we can make iteration on this object

- iterator : the  process of iteration on object by using iter() , next()

- iterable object ( List - Set  - Dictionary - Tuple - String)

- Non iterable object ( Number - bool)

In [ ]:
# iterable object
l= [1,2,3,4,5]
t=(10 , 20 , 30 ,40 , 50)
s="space code academy"
st={1,2,3 ,'a' , 'b' ,(1,2,3)}

#=========================================================================
# list
for i in l:
  print(i , end =" ")

print('\n', "*"*50)

#=========================================================================
# tuple
for i in t:
  print(i , end =" ")

print('\n', "*"*50)

#=========================================================================
# string
for i in s:
  print(i , end =" ")

print('\n', "*"*50)

#=========================================================================
# set
for i in st:
  print(i , end =" ")

print('\n', "*"*50)

#=========================================================================

# Number (also bool datatype)
for i in 12345:
  print(i , end =" ")

print('\n', "*"*50)
#============================  'int' object is not iterable ===========================

1 2 3 4 5
 **************************************************
10 20 30 40 50
 **************************************************
s p a c e   c o d e   a c a d e m y
 **************************************************
1 2 3 a (1, 2, 3) b
 **************************************************

In [ ]:
# iteration : the process of iteration using iter() , next()
name ="space"
it=iter(name) # Similar to loop
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

# print(next(it)) stop iteration

s
p
a
c
e

# Generator ()

Generators are a special type of iterable in Python that allow you to iterate over a sequence of values lazily, meaning they produce items one at a time and only when requested. This makes them memory-efficient and ideal for working with large datasets or infinite sequences.

In [ ]:
def my_generator():
    yield 1
    yield 2
    yield 3

# Using the generator
gen = my_generator()
print(next(gen))
print(next(gen))
print(next(gen))

'''
# another way
for i in gen:
  print(i)
'''

1
2
3

Generator similar to function , but :

1- function used return (return not iterable) , generator used yeild (iterable)

In [ ]:
def my_generator():
    return  1
    return  2
    return  3

# Using the generator
gen = my_generator()
print(gen)


'''
for i in my_generator():
  print(i)
  '''

# ==================== Error : 'int' object is not iterable ==============================

1

✅ Use Case: Word Counter in a Sentence

Problem Context:

In many text-processing tasks (e.g., writing tools, chatbots, content analysis), you might want to count the number of words in a sentence.

Creating a function for this makes your code reusable and clean.

# Solution

In [3]:
def count_words(sentence):
    words = sentence.split()
    return len(words)

# Test the function
text = "Python is fun and powerful!"
word_count = count_words(text)
print(f"Number of words: {word_count}")

Number of words: 5

# zip function

- The zip() function in Python is used to combine two or more iterables

In [ ]:
# Iterable object
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

result = zip(list1, list2)
l= list(result)
print(l)
print(type(result))
print(len(l))

[(1, 'a'), (2, 'b'), (3, 'c')]
<class 'zip'>
3

In [ ]:
for i in l:
  print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
# len of zip function equal the minimum len of iterable object
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c' , 'e','f']

result = zip(list1, list2)
l= list(result)
print(l)
print(type(result))
print(len(l))

[(1, 'a'), (2, 'b'), (3, 'c')]
<class 'zip'>
3

# Exception Error

In Python, exceptions are runtime errors that occur during the execution of a program. When an exception occurs, it disrupts the normal flow of the program. Python provides a robust mechanism to handle these errors and take appropriate action to prevent the program from crashing.

In [ ]:
print("=============Before Exception Error===================")
age = -20
print("Age:" , age)

# No syntax error but the value of age not logical , so that we must raise an error
print("=============After Exception Error===================")

age = -20
if age <=0:
  raise Exception("Invalid value , Enter Positive number")
print("Age:" , age)

=============Before Exception Error===================
Age: -20
=============After Exception Error===================

In [ ]:
# Types of error
# ===================== ValueError ===================
def set_age(age):
    if age < 0:
        raise ValueError("Age cannot be negative!")
    print(f"Age set to {age}")

set_age(-5)  # This will raise a ValueError

In [ ]:
# ===================== TypeError ===================

def add_numbers(a, b):
    if not isinstance(a, (int, float)) or not isinstance(b, (int, float)):
        raise TypeError("Both arguments must be numbers!")
    return a + b

add_numbers(5, "ten")  # This will raise a TypeError

In [ ]:
# ===================== ZeroDivisionError ===================

a = 10
b = 0
if b == 0:
    raise ZeroDivisionError("Division by zero is not allowed!")

# Exception Handling

#### Structure and Explanation
- try Block
   - Contains the code that might raise an exception.
   - If no exception occurs, the program proceeds normally.

- except Block
  - Handles the exception if one occurs in the try block.
  - You can specify the type of exception to handle specific errors.

- else Block (Optional)
  - Executes only if the try block runs without raising any exception.
  
- finally Block (Optional)
Always executes, regardless of whether an exception occurred or not.
Commonly used for cleanup actions like closing files or releasing resources.

In [2]:
# Exception Handling used to handle errors
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ValueError:
    print("You must enter a valid number!")
except ZeroDivisionError:
    print("You cannot divide by zero!")
else:
    print(f"Result is: {result}")
finally:
    print("Execution complete.")

Enter a number: 10
Result is: 1.0
Execution complete.

In [4]:
# Predefined username and password
username = "admin"
password = "1234"

try:
    # Get user input
    entered_username = input("Enter username: ")
    entered_password = input("Enter password: ")

    # Check if the username and password match
    if entered_username != username:
        raise ValueError("Invalid username.")
    if entered_password != password:
        raise ValueError("Invalid password.")
except ValueError :
    # If there's a ValueError (invalid username/password), print the error message
    print(f"Login failed")
else:
    # If no exception was raised, login is successful
    print("Login successful!")
finally:
    # This block will always execute
    print("Login attempt finished.")

Enter username: sss
Enter password: 233
Login failed
Login attempt finished.

✅ Use Case: User Input Validation (Convert String to Integer)

🎯 Problem Context:
When taking input from a user, we often expect a number — but the user might enter something invalid like "abc" instead. This would normally crash the program unless we handle the error.

# Solution

In [5]:
def get_integer():
    try:
        value = int(input("Enter an integer: "))
        print("You entered:", value)
    except ValueError:
        print("Invalid input! Please enter a valid integer.")

# Test the function
get_integer()

Enter an integer: 123e
Invalid input! Please enter a valid integer.

# Type Hinting

Type hinting in Python is a way to indicate the type of variables, function arguments, and return values. It helps make the code more readable and easier to understand by providing hints about what kind of data is expected, although Python itself does not enforce the types.

In [ ]:
# A function that takes two integers and returns an integer
def add_numbers(a, b) -> int:
    return a + b

# A function that takes a string and returns a string
def greet(name) -> str:
    return f"Hello, {name}!"

add_numbers("aa" , "bb")
greet(2)

'Hello, 2!'

In [ ]:
from typing import Union

# A function that accepts either an integer or a string
def process_input(data ,info ) -> Union[int, str]:
  print(data , info)
process_input(33.7 , "info")

33.7 info

📝 Project Title: Student Grade Tracker

🎯 Use Case:
A small school or tutor wants a way to input student names and their grades, store them, and compute simple statistics like average grade, highest/lowest grades, etc.


🛠️ Features:
Add student names and their grades

Calculate class average

Display highest and lowest grades

Show all student records

In [6]:
# Student Grade Tracker

students = {}

def add_student():
    name = input("Enter student name: ")
    grade = float(input("Enter student grade (0-100): "))
    students[name] = grade
    print(f"{name}'s grade recorded.\n")

def show_all_students():
    print("\n--- Student Records ---")
    for name, grade in students.items():
        print(f"{name}: {grade}")
    print()

def show_statistics():
    if not students:
        print("No student data available.\n")
        return

    grades = list(students.values())
    average = sum(grades) / len(grades)
    highest = max(grades)
    lowest = min(grades)

    print("\n--- Class Statistics ---")
    print(f"Average grade: {average:.2f}")
    print(f"Highest grade: {highest}")
    print(f"Lowest grade: {lowest}\n")

def menu():
    while True:
        print("1. Add Student")
        print("2. Show All Students")
        print("3. Show Statistics")
        print("4. Exit")
        choice = input("Choose an option (1-4): ")

        if choice == '1':
            add_student()
        elif choice == '2':
            show_all_students()
        elif choice == '3':
            show_statistics()
        elif choice == '4':
            print("Goodbye!")
            break
        else:
            print("Invalid choice. Try again.\n")

# Start the program
menu()

1. Add Student
2. Show All Students
3. Show Statistics
4. Exit
Choose an option (1-4): 1
Enter student name: Ali
Enter student grade (0-100): 22
Ali's grade recorded.

1. Add Student
2. Show All Students
3. Show Statistics
4. Exit
Choose an option (1-4): 1
Enter student name: Mostafa
Enter student grade (0-100): 100
Mostafa's grade recorded.

1. Add Student
2. Show All Students
3. Show Statistics
4. Exit
Choose an option (1-4): 2

--- Student Records ---
Ali: 22.0
Mostafa: 100.0

1. Add Student
2. Show All Students
3. Show Statistics
4. Exit
Choose an option (1-4): 3

--- Class Statistics ---
Average grade: 61.00
Highest grade: 100.0
Lowest grade: 22.0

1. Add Student
2. Show All Students
3. Show Statistics
4. Exit
Choose an option (1-4): 4
Goodbye!